<section class="contenedor seccion testimoniales">
  <div class="imagen">
      <img src="assets/img/app.jpg" alt="imagen app">
  </div>

  <div class="contenido">
      <h2>Testimoniales</h2>

      <div class="testimonial">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, voluptatum pariatur ea tempora aliquid quisquam sequi labore nemo debitis maiores, aperiam.</p>
      </div>

      <div class="testimonial">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, voluptatum pariatur ea tempora aliquid quisquam sequi labore nemo debitis maiores, aperiam.</p>
      </div>

      <div class="testimonial">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, voluptatum pariatur ea tempora aliquid quisquam sequi labore nemo debitis maiores, aperiam.</p>
      </div>
  </div>
</section>
